[Desktop Entry]
Encoding=UTF-8
Name=Link to Google Drive
Type=Link
URL=https://drive.google.com/drive/folders/0B_M_sOwAFgqneFNBRWU1RUdaRTQ
Icon=text-html
Name[en_US]=GoogleDrive
